# created by virtualenv automatically
__pycache__/
*.pyc
.env
.idea/
*.pyo
*.pyd
.Python
# macOS 系统文件
.DS_Store
bert_training/.DS_Store
data/.DS_Store

# Ignore large model files
model/bert_model.pt
model/model.safetensors
.venv/


